.content__element-like-button_active {
  border: none;
  background-color: #FFFFFF;
  margin: 30px 20px 30px auto;
  cursor: pointer;
  padding: 0;
  background-image: url('../../../../images/button__like_activated_black.svg');
  width: 22px;
  height: 19px;
}

.content__element-like-button:hover {
  opacity: 0.5;
}
