.pop-up__window_place{
    width: 430px;
    min-height: 330px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    }

  @media (max-width: 950px) {
    .pop-up__window {
      width: 282px;
      min-height: 322px;
    }
  }

}
