.content__element-image {
  width: 282px;
  height: 282px;
  margin: 0;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  /*не понял как сделать закругление контента grid-ячейки,
  углы ячейки закругляются, а контент нет*/
}

@media (max-width: 950px) {
  .content__element-image {
    margin: auto;
  }
}
