.content__element-symbols-container {
  background-color: #ffffff;
  margin: 0;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 282px;
}

@media (max-width: 950px) {
  .content__element-symbols-container {
    margin: auto;
  }
}
