.header__logo {
  background-image: url("../../../images/logo__mesto_white.svg");
  width: 142px;
  height: 33px;
  display: flex;
  margin: 0 0 41px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 950px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 32px 27px;
  }
}

.header__logo:hover {
  opacity: 0.5;
}
