.profile__info_role {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media (max-width: 950px) {
  .profile__info_role {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
