.profile__info-role {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 950px) {
  .profile__info-role {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    grid-column-start: 2;
    max-width: 282px;
  }
}
