.pop-up__close-icon {
  width: 32px;
  height: 32px;
  position: relative;
  top: -40px;
  left: 440px;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/Close_Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.pop-up__close-icon:hover {
  opacity: 0.6;
}

@media (max-width: 950px) {
  .pop-up__close-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: -36px;
    left: 262px;
  }
}
