.profile__info_edit-button {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  height: 24px;
  padding: 7px 7px;
  background-origin: content-box;
  align-self: flex-end;
  cursor: pointer;
  background-image: url(../../../images/button__edit_white.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__info_edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 950px) {
  .profile__info_edit-button {
    height: 18px;
    width: 18px;
    padding: 4.25px 4.25px;
  }
}
